<!-- Title System -->
<% phc_title "Script Listings Manager" %>
<% phc_title_tagline "Script Version Details" %>
<% phc_breadcrumb_one link_to "Script Index", phcscriptcdn.script_listings_path %>
<% phc_breadcrumb_two link_to "Script Version Index", phcscriptcdn.script_versions_path %>
<% phc_breadcrumb_three yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_two) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_three) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">

	<!-- Button Panel -->
	<div class="col-lg-4">

		<div class="panel panel-inverse">
			<div class="panel-heading">
				<div class="panel-heading-btn">
				</div>
			</div>
			<div class="panel-body">
				<div class="btn-group d-flex" role="group">
					<%= link_to 'Update', phcscriptcdn.edit_script_version_path, class: "btn btn-primary" %>
					<%= link_to 'Remove', phcscriptcdn.script_version_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
				</div>
			</div>
		</div>

	</div>
	<!-- Button Panel -->

	<!-- Main Panel -->
	<div class="col-lg-8">
	</div>
	<!-- Main Panel -->

</div>
<!-- Page Content -->
