<%= form_with(model: script_extension, local: true) do |form| %>
  <% if script_extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(script_extension.errors.count, "error") %> prohibited this script_extension from being saved:</h2>

      <ul>
        <% script_extension.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :script_extension_name %>
    <%= form.text_field :script_extension_name %>
  </div>

  <div class="field">
    <%= form.label :script_extension_description %>
    <%= form.text_field :script_extension_description %>
  </div>

  <div class="field">
    <%= form.label :script_extension %>
    <%= form.text_field :script_extension %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
