<%= form_with(model: script_extension, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/default/validations', :object => @script_extension %>
	<!-- PHCNotifi Render Validation -->

	<!-- Form Input Fields -->
	<div class="form-group field_with_errors">
		<%= form.label :script_extension_name, "Extension Name" %>
		<%= form.text_field :script_extension_name, placeholder: "Extension Name", class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :script_extension_description, "Extension Description" %>
		<%= form.text_area :script_extension_description, placeholder: "Extension Description", class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :script_extension, "Script Extension" %>
		<%= form.text_field :script_extension, placeholder: "Script Extension (.js/.css)", class: "form-control" %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
