<!-- PHCTitleSEO Title Variables -->
<% phc_title "Script Extensions" %>
<% phc_title_tagline "Script Extension Index" %>
<% phc_breadcrumb_one link_to "Script Index", phcdevworks_scripts.script_listings_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- PHCTitleSEO Title Variables -->

<!-- Page Bradcrumbs -->
<ol class="breadcrumb pull-right">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- Page Bradcrumbs -->

<!-- Page Header -->
<h2 class="page-header"><%= yield(:phc_title) %></h2>
<!-- Page Header -->

<!-- Page Content -->
<div class="row">
	<div class="col-lg-12">

		<!-- Panel -->
		<div class="panel panel-inverse">

			<!-- Panel - Heading -->
			<div class="panel-heading">
				<h4 class="panel-title"><%= yield(:phc_title) %></h4>
			</div>
			<!-- Panel - Heading -->

			<!-- Panel - Body -->
			<div class="panel-body">

				<!-- Index - Table -->
				<div class="table-responsive">
					<table class="table table-striped table-bordered">

						<thead>
							<tr>
								<th>Script Extension Name</th>
								<th>Script Extension</th>
							</tr>
						</thead>
						<tbody>
							<% @script_extensions.each do |script_extension| %>
								<tr>
									<td><%= link_to script_extension.extension_name, script_extension %></td>
									<td><%= link_to script_extension.extension, script_extension %></td>
								</tr>
							<% end %>
						</tbody>

					</table>
				</div>
				<!-- Index - Table -->

				<!-- New Button -->
				<%= link_to phcdevworks_scripts.new_script_extension_path, class: "btn btn-primary" do %>
					<i class="fad fa-plus-circle"></i>
					Add a New Extension
				<% end %>
				<!-- New Button -->

			</div>
			<!-- Panel - Body -->

		</div>
		<!-- Panel -->

	</div>
</div>
<!-- Page Content -->
