<!-- Form - Script - Script URLs -->
<%= form_with(model: [ @script_snippet, @snippet_url], url: form_url, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render "phcdevworks_notifications/bootstrap/validations", :object => @snippet_url %>
	<!-- PHCNotifi Render Validation -->

	<!-- Form Input Fields -->
	<div class="form-group field_with_errors">
		<%= form.label :snippet_post_url, "Script URL" %>
		<%= form.text_field :snippet_post_url, placeholder: "Script Url", class: "form-control" %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
<!-- Form - Script - Script URLs -->
