<!-- Form - Script - Url -->
<%= form_with(model: [ @script_snippet, @script_url], url: form_url, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcnotifi/default/validations', :object => @script_url %>
	<!-- PHCNotifi Render Validation -->

	<!-- Form Input Fields -->
	<div class="form-group field_with_errors">
		<%= form.label :script_url %>
		<%= form.text_field :script_url, class: 'form-control', placeholder: 'Script Url'  %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
<!-- Form - Script - Url -->
