<%= form_with(model: [ @script_listing, @script_url], url: form_url, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render "phcdevworks_notifications/bootstrap/validations", :object => @script_url %>
	<!-- PHCNotifi Render Validation -->

	<!-- Form Input Fields -->
	<div class="form-group field_with_errors">
		<%= form.label :script_cdn_url, "Script URL" %>
		<%= form.text_field :script_cdn_url, placeholder: "Script URL", class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :script_cdn_url_release, "Initial Release" %>
		<%= form.date_select :script_cdn_url_release, class: "form-control" %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :script_cdn_url_cdn_update, "Latest Release" %>
		<%= form.date_select :script_cdn_url_cdn_update, class: "form-control" %>
	</div>
	<div class="form-group field_with_errorss">
		<label>Script Version</label>
		<%= collection_select(:script_url, :version_id, PhcdevworksScripts::Script::Version.order("script_version_number"), :id, :script_version_number, {}, {class: "form-control"}) %>
	</div>
	<div class="form-group field_with_errorss">
		<label>Script Extensions</label>
		<%= collection_select(:script_url, :extension_id, PhcdevworksScripts::Script::Extension.order("script_extension_name"), :id, :script_extension, {}, {class: "form-control"}) %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
