<%= form_with(model: script_author, local: true) do |form| %>

	<!-- PHCNotifi Render Validation -->
	<%= render 'phcdevworks_notifications/bootstrap/validations', :object => @script_author %>
	<!-- PHCNotifi Render Validation -->

	<!-- Form Input Fields -->
	<div class="form-group field_with_errors">
		<%= form.label :author_first_name, "Author First Name" %>
		<%= form.text_field :author_first_name, placeholder: "Author First Name", class: "form-control"  %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :author_last_name, "Author Last Name" %>
		<%= form.text_field :author_last_name, placeholder: "Author Last Name", class: "form-control"  %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :author_website, "Author Website" %>
		<%= form.text_field :author_website, placeholder: "Author Website", class: "form-control"  %>
	</div>
	<div class="form-group field_with_errors">
		<%= form.label :author_github, "Author Github Address" %>
		<%= form.text_field :author_github, placeholder: "Author Github Address", class: "form-control"  %>
	</div>
	<!-- Form Input Fields -->

	<!-- Form Submition Button -->
	<div class="actions">
		<%= form.submit class: "btn btn-primary" %>
	</div>
	<!-- For Submition Button -->

<% end %>
